body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background-image: url('../../assets/background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #D6D6D6;
}

.menu-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    background: #9c59b6;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* Barra superior */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bd82d9;
    padding: 10px 20px; /* Adicionado espaçamento interno */
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: calc(100% - 40px); /* Reduzindo largura para incluir o padding */
    margin: 0px auto; /* Centralizar horizontalmente com margem */
    max-width: 1200px; /* Limite de largura para telas maiores */
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.score-section{
    background-color: #ffffffa5;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-grow: 1; /* Ocupa espaço disponível */
}

.score-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 5px;
    color: #333;
}

.score-item .icon {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.score-item .icon2 {
    width: 22px;
    height: 21px;
    margin-right: 2px;
}

/* Caminho das fases */
.path {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.circle-content {
    background-color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.circle-content img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.circle-content:hover {
    transform: scale(1.1);
}

.circle p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: center;
}

.dotted-line { 
    border-left: 3px dashed white;
    height: 30px;
}

.menu-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: #bd82d9;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-btn img {
    width: 50px;
}

.profile-icon {
    flex-shrink: 0;
}

.profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}